.card {
    background: #ffffff;
    width: 342px;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid #e7e7e7;
    padding: 16px 24px;

    font-family: Source Code Pro, sans-serif;
    font-size: 18px;
    font-weight: 500;
}
